* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items>ul {
    display: flex;
    margin: 20px;
    list-style: none;
    /* border: 1px solid black;  */
    font-size: 20px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}

.res-card {
    /* height: 250px; */
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.rescard-link {
    text-decoration: none;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.res-card h3 {
    padding: 5px 0;
}

.res-status {
    text-decoration: none;
    background-color: green;
    border-radius: 10px;
    padding: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
}

.filter {
    display: flex;
    /* justify-content: space-between; */
}

.filter-btn {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    ;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;
    margin: 20px;
    border-radius: 5px;
}